// othello.rc - Resources for Othello
// (C) Copyright 1992-1994 by Tom Weatherhead

//#include <windows.h>
//#include <owlrc.h>
#include "othdispa.h"

#define OTHELLOICON		510


OTHELLOICON ICON othello.ico

COMMANDS MENU LOADONCALL MOVEABLE PURE DISCARDABLE
BEGIN
  POPUP "&File"
  BEGIN
    MenuItem  "&Exit", CM_FILEEXIT
  END

  POPUP "&Game"
  BEGIN
    MenuItem  "&Options", CM_GAMEOPTIONS
    MenuItem  "&Play", CM_GAMEPLAY
  END

  POPUP "&Help"
  BEGIN
    MenuItem  "&About", CM_ABOUT
  END
END


GAMEOPTIONS DIALOG LOADONCALL MOVEABLE DISCARDABLE 32, 32, 140, 90
STYLE WS_CAPTION | WS_SYSMENU | DS_MODALFRAME | WS_POPUP
CAPTION "Game Options"
BEGIN
#if 0
    CONTROL "Player X", ID_XPLAYERBOX, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 8, 4, 53, 40
    CONTROL "Player O", ID_OPLAYERBOX, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 75, 4, 53, 40
    CONTROL "Human", ID_XHUMANBTN, "BUTTON", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 14, 40, 12
    CONTROL "Computer", ID_XCOMPBTN, "BUTTON", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 28, 41, 12
    CONTROL "Human", ID_OHUMANBTN, "BUTTON", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 14, 40, 12
    CONTROL "Computer", ID_OCOMPBTN, "BUTTON", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 28, 41, 12
#endif
    CONTROL "Automate X", ID_XCOMPBTN, "BUTTON", BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 4, 50, 12
    CONTROL "Automate O", ID_OCOMPBTN, "BUTTON", BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 24, 50, 12
    CONTROL "X Level", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 53, 29, 8
    CONTROL "O Level", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 75, 53, 29, 8
    EDITTEXT ID_XLEVELEDIT, 44, 52, 16, 12
    EDITTEXT ID_OLEVELEDIT, 109, 52, 16, 12
    CONTROL "&OK", IDOK, "button", BS_DEFPUSHBUTTON | WS_TABSTOP | WS_CHILD, 25, 70, 24, 14
    CONTROL "&Cancel", IDCANCEL, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 85, 70, 33, 14
END


//About DIALOG 7, 22, 140, 96
ABOUT DIALOG 7, 22, 140, 96
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
//CLASS "BorDlg"
CAPTION "About Othello"
BEGIN
	CONTROL "Copyright (C) 1994", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 42, 60, 8
	ICON OTHELLOICON, -1, 23, 23, 16, 16
	LTEXT "Object Windows ", -1, 43, 13, 54, 8
	CTEXT "OTHELLO", -1, 50, 23, 39, 8
	LTEXT "Tom Weatherhead", -1, 28, 51, 84, 8
//	CONTROL "&OK", IDOK, "BUTTON", WS_TABSTOP, 54, 72, 32, 20
    	CONTROL "&OK", IDOK, "button", BS_DEFPUSHBUTTON | WS_TABSTOP | WS_CHILD, 54, 72, 32, 20
//	CONTROL "", -1, "BorShade", 1, 17, 11, 105, 52
//	CONTROL "", -1, "BorShade", 2, 0, 67, 141, 1
END
